.aboutMe {
    margin: 0px 0px 100px 0px;
    padding: 200px 0px 100px 0px;
}

.image {
    width: 200px;
    height: 350px;
}

.intro {
    font-family: 'Roboto Condensed';
}

.sansita {
    font-family: "Sansita";
    font-weight: 800 bold;
    font-size: 27px;
}