* {
  background-color: #0d141a;
  color: #ffffff !important;
}

.navbar {
  justify-content: space-evenly;
  position: fixed "top";
}

.pulse {
  padding: 0px 0px 0px 0px;
  margin: 8px 0px 8px 0px;
}

.pulse:hover {
  animation: pulse 1s infinite;
  animation-timing-function: linear;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.container {
  padding: 0px;
  margin: 0px;
}

.name {
  font-size: 18px;
  font-family: "Roboto Condensed";
  font-weight: 400;
}

.nav {
  font-size: 23px;
  font-family: "Roboto Condensed";
  font-weight: 300;
  border-bottom: 1px solid white;
}

/* Mobile Responsive */

@media screen and (max-width: 485px) {
  .name {
    font-size: 15px;
  }

  .nav {
    font-size: 20px;
  }
}

@media screen and (max-width: 430px) {
  .name {
    font-size: 12px;
  }

  .nav {
    font-size: 16px;
  }
}
