.projects-section {
  margin: 10px 90px 100px 90px !important;
  padding: 70px 0px 60px 0px !important;
}

.section-title {
  text-align: center;
  font-family: "Roboto Condensed";
  margin-bottom: 30px;
  font-size: 50px;
  font-weight: 300;
}

.project-title {
  text-align: center;
  font-family: "Sansita";
  font-size: 22px;
}

.project-col {
  margin-left: 12px;
  margin-right: 12px;
}

.project-image {
  border-radius: 10px;
}

.project-image:last-of-type:hover {
  box-shadow: 0px 0px 40px 0px #975d6e;
  transform: scale(1.1);
  
}


/* Mobile Responsive */

@media screen and (max-width: 600px) {  
  /* .projects-section {
    padding-bottom: 0;
  } */
  
  .project-col {
    padding-bottom: 50px;
  }

  .card-body p {
    font-size: 15px;
    text-align: center;
  }
}


@media screen and (max-width: 499px) {
  /* .projects-section {
    padding-bottom: 0;
  } */

  .section-title{
    font-size: 45px;
  }

  .card-body p {
    font-size: 15px;
    text-align: center;
  }
}


@media screen and (max-width: 380px) {
  .section-title{
    font-size: 40px;
  }

  .card-body p {
    font-size: 13px;
    text-align: center;
  }
}
