.projects-section {
    margin: 100px 90px 100px 90px ;
    padding: 200px 0px 200px 0px;
}

.section-title {
    text-align: center;
    font-family: "Roboto Condensed";
    margin-bottom: 30px;

}

.project-title {
    text-align: center;
    font-family: "Sansita";
    font-size: 22px;
}
